# EditorConfig is awesome: https://EditorConfig.org

# Root EditorConfig file
root = true

# All files
[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# C/C++ source files
[*.c]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Header files
[*.h]
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Makefiles
[Makefile]
indent_style = tab
